html, body{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3{
margin: 0;
height: 100px;
width: auto;



}

.logo{
    display: flex;
    justify-content: left;
    background-color: #1f2937;
    width: auto;
    color: white;
   padding: 20px 20px 0 60px;
}

.header-links a{
    margin-left: 70px;
    color: white;
    text-decoration: none;
    list-style-type: none;
    font-size: 12px;
    padding: 0 0 0 80px;
    
    
}

.section-one{
    background-color: #1f2937;
    color: white;
    padding: 0 0 0 40px;
    height: 300px;
    width: auto;
    display: flex;
    flex-direction: column;
    
}

h2{
    display: flex;
    margin: 0;
    padding: 0 ;
}

.container-one{
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.section-one-p{
    font-size: 13px;
    display: flex;
    justify-content: left;
    width: 300px;
    
   
}

.section-one-img{
   padding-right: 200px;
    border-color: grey;
    height: 180px;
    width: 300px;
    display: flex;
    margin-right: 100px;
  
   
}
.section-one-btn{
    display: flex;
    background-color: #3882f6;
    width: 80px;
    height: 40px;
    align-content: center;
    justify-content: center;
    padding:5px 0 5px 0 ;
    color: white;
    border-color: #3882f6;
    margin-bottom: 500px;
}

.section-two{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-bottom: 100px;
    
}

.section-two-h3{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 25px;
    font-size: 30px;
}

.img-row-two{
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.section-two-img{
    flex: 1;
    border: 1px solid #3882f6;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    height: 120px;
    width: 150px;
    margin: 0 70px 0 70px;
}

.text-row-two{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    margin-left: 8px;
    
}

.under-img{
text-align: center;
font-size: 10px;
}

.section-three{
    height: 300px;
    background-color: lightgrey;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
}

.section-three-p{
color: grey;
font-style: italic;
font-size: 20px;
padding: 50px 200px 0 200px;
justify-content: center;
align-content: center;

}

.section-three-strong{
display: flex;
align-content: right;
padding-right: 60px;
margin-right: 50px;
}

.section-four{
    height: 300px;
    padding: 50px 150px;
    color: white;
    justify-content: center;
    align-content: center;

}

.section-four-container{
    justify-content: center;
    align-content: center;
    background-color: #3882f6;
    border-radius: 6px;
    padding: 0 50px 0 50px;
}

.container-four{
    display: flex;
    align-content: center;
    justify-content: space-between;
    
    
    

}

footer{
    margin-left: 30px;
    margin-top: 28px;
}

.section-four-p{
    padding: 0 0 5px 30px;
    font-size: 13px;
    color: lightgray;
    

}

.section-four-btn{
    margin-right: 50px;
    color: white;
    background-color: #3882f6;
    border-color: white;
    align-self: center;
    align-content: center;
    width: 70px;
    height: 20px;
    display: flexbox;
    text-align: center;
    border-radius: 5px;
    font-size: 10px;
}

.copyright-container{
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 25px;
}

.copyright{
color: white;
font-size: 13px;
}